$primary: #DCD6F7;
$secondary: #A6B1E1;
$secondary-hover: darken($secondary, 8%);
$accent: #f1c40f;

$text: #D6E5E3;
$text-hover: lighten($text, 6%);

$background: #424874;
$background-2: darken($background, 6%);

$border: #dddddd;