<div class="modal" hx-on:click="if(event.target.classList.contains('modal')) this.remove()" hx-on::after-request="if(event.detail.successful) htmx.trigger('#navbar', 'refreshNav')">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close-button" onclick="this.closest('.modal').remove()">×</button>
        </div>
        <div class="modal-body">
            <form hx-post="/auth" hx-target=".modal" hx-trigger="submit">
                <div class="form-group">
                    <div class="auth-toggle">
                        <label class="switch">
                            <input name="authentication" type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <input name="username" autocomplete="username" placeholder='{{ "username"|fluent(user_language) }}' required type="text">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input name="password" autocomplete="password" placeholder='{{ "password"|fluent(user_language) }}' required type="password">
                    </label>
                </div>
                <button class="submit-btn" type="submit">{{ "submit"|fluent(user_language) }}</button>
            </form>
        </div>
    </div>
</div>