<nav class="navbar">
    <div class="navbar__container">
        <a class="navbar__logo" href="#">{{data.title}}</a>

        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__item">
                <a class="navbar__link" href="#">Home</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="#">About</a>
            </li>
            <li class="navbar__btn">
                <a class="button" href="#">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>