<nav class="navbar" id="navbar" hx-trigger="refreshNav" hx-get="/partials/navbar" hx-swap="outerHTML" hx-target="this">
    <div class="navbar__container">
        <a class="navbar__logo" href="/">{{title}}</a>

        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__item">
                <a class="navbar__link" href="#">Home</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="#">About</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/web">{{ "websites"|fluent(user_language) }}</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/org">{{ "organizations"|fluent(user_language) }}</a>
            </li>

            <li class="navbar__btn">
                {% if let Some(user) = user %}
                <a href="/user/{{ user.id }}">{{ user.name }}</a>
                <button class="button"
                        hx-post="/auth/logout"
                        hx-swap="none"
                        hx-on::after-request="if(event.detail.successful) htmx.trigger('#navbar', 'refreshNav')">
                    Logout</button>
                {% else %}
                <button class="button"
                        hx-get="/auth"
                        hx-swap="beforeend"
                        hx-target="body"
                        hx-trigger="click">
                    Sign Up
                </button>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>